body, html {
    height: 100%;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
header{
    height: 100%;
}
.central-panel{
    max-width: 1000px;
    margin: auto;
    height: 100%;
}

.header-wrapper{
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #999); /* Standard syntax */
    height: 100%;
    font-weight: 700;

}

.top-menu{
    height:50px;
    padding: 10px 0;
}
.top-menu nav{
    float:right;
    margin-right: 73px;    
}

.top-menu li{
    list-style-type: none;
    float: left;
    padding-left: 25px;
    display: inline-block;
    font-size: 15px;
}

.top-menu a{
    text-decoration: none;
    color: #666; 
}

.top-menu:after{
    clear: both;
    content: '';
}


.rel-pict{
    background: url("../images/rels-body.png") no-repeat;
    background-size: contain;
    height: 540px;
    width: 30%;
    display: block;
    position: absolute;
    bottom:0;
    left: 255px;
}

.cd-title{
    background: url("../images/boys.png") no-repeat;
    background-size: contain;
    height: 540px;
    width: 30%;
    display: block;
    position: absolute;
    top: 185px;
    right: 203px;
}

.white-line{
    position: absolute;
    top: 284px;
    right: 140px;
    height: 2px;
    width: 500px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left, 
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,1) 50%,
        rgba(255,255,255,1) 51%,
        rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.yadis-para{
    color: rgb(244, 244, 244);
    font-size: 33px;
    font-weight: 300;
    position: absolute;
    right: 247px;
    top: 281px;
    letter-spacing: 9px;
}

.icons li{
    list-style-type: none;
    margin: 15px;
    float: left;
    min-width: 50px;
    position: relative;
    top: 274px;
    left: 480px;
}
    
.spotify{
    background: url("../images/spotify-logo-button.svg") no-repeat;
    height: 30px;
    -webkit-filter: drop-shadow( 0px 0px 10px #777 );
            filter: drop-shadow( 0px 0px 10px #777 );
}

.instagram{
    background: url("../images/instagram-logo.svg") no-repeat;
    height: 30px;
    -webkit-filter: drop-shadow( 0px 0px 10px #777 );
            filter: drop-shadow( 0px 0px 10px #777 );
}

.iTunes{
    background: url("../images/apple.svg") no-repeat;
    height: 30px;
    -webkit-filter: drop-shadow( 0px 0px 10px #777 );
            filter: drop-shadow( 0px 0px 10px #777 );
}

.youtube{
    background: url("../images/youtube-logo.svg") no-repeat;
    height: 30px;
    -webkit-filter: drop-shadow( 0px 0px 10px #777 );
            filter: drop-shadow( 0px 0px 10px #777 );
}

.fb{
    background: url("../images/facebook-social-symbol.svg") no-repeat;
    height: 30px;
    -webkit-filter: drop-shadow( 0px 0px 10px #777 );
            filter: drop-shadow( 0px 0px 10px #777 );
}

.twitter{
    background: url("../images/twitter-logo-silhouette.svg") no-repeat;
    height: 30px;
    -webkit-filter: drop-shadow( 0px 0px 10px #777 );
            filter: drop-shadow( 0px 0px 10px #777 );
}

.tour-wrapper{
    min-height: 830px;
    background-color: black;
    margin-top: 0;
}

.tour-wrapper h1{
    color: white;
    font-size: 53px;
    padding-top: 47px;
    display: inline-block;
    margin: 0 50% 0 44%;
    font-weight: 500;
}

.list-of-dates li{
    display: inline-block;
    color: #eaeaea;
    height: 10px;
    margin: 25px;
    width: 950px
}

hr{
    border: 0;
    height: 1px;
    background-color: #777;
}

.date{
    margin: 0 40px 0 20px;
}

.place{
    margin: 0 105px 0 37px;
}
.city{
    margin: 55px;
}
.buy-button{
    margin: 0 20px 0 150px;
}

.sold-out{
    border: 2px solid #7d0e0e;
    padding: 10px 41px;
    color: #7d0e0e;
    text-align: center;
    min-width: 300px;
}

.buy-cd{
    border: 2px solid #eaeaea;
    padding: 15px;
}

.tour-wrapper p{
    border: 2px solid #7d0e0e;
    padding: 8px 0px;
    color: #7d0e0e;
    text-align: center;
    min-width: 250px;
    display: inline-block;
    margin: 2% 50% 0 39%;

}