body, html {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;    
}

header{
    height: 100%;
}
.central-panel{
    max-width: 1000px;
    margin: auto;
    height: inherit;
    position: relative;
}

.top-banner{
    position: absolute;
    height: 277px;
    width: 454px;
    display: block;
    right: 3%;
    top: 32%;
}

.header-wrapper{
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #999); /* Standard syntax */
    height: inherit;
    font-weight: 700;
    position: relative;
}

.top-menu{
    height: 50px;
    padding: 23px 0;
    position: fixed;
    display: block;
    width: 100%;
    background: inherit;
    z-index: 1;
    transition: background 200ms, border-bottom 200ms, margin 200ms, height 200ms, background-color 200ms;
    
}
.top-menu nav{
    float:right;
    margin-right: 180px;   
    position: relative;
    bottom: 2px;
}

.top-menu li{
    list-style-type: none;
    float: left;
    padding-left: 25px;
    display: inline-block;
    font-size: 15px;
    transition: color 400ms;
}

.top-menu a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

.top-menu a:hover{
    color: #eee; 
}

.top-menu:after{
    clear: both;
    content: '';
}

.top-menu.top-menu-down{
    color: #eee;
    background-color: black;
    border-bottom: 1px solid #333;
    margin: -17px 0 0 0;
    z-index: 2;
    height: 30px;
}

.rel-pict{
    background: url(../images/rels-body.png) no-repeat;
    background-size: cover;
    height: 500px;
    width: 293px;
    display: block;
    position: absolute;
    left: 20%;
    bottom: 0;
}

.cd-title{
background: url(../images/boys.png) no-repeat;
    background-size: contain;
    height: 66px;
    width: 82%;
    display: block;
    position: absolute;
    top: 30px;
    right: 42px;
}

.white-line{
    position: relative;
    top: 128px;
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 80%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left, 
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,1) 50%,
        rgba(255,255,255,1) 51%,
        rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.banner-label{
    color: rgb(244, 244, 244);
    font-size: 33px;
    font-weight: 300;
    position: absolute;
    right: 67px;
    top: 125px;
    letter-spacing: 9px;
    width: 320px;

}

.header-icons li{
    
    list-style-type: none;
    /*
    margin: 15px;
    float: left;
    position: absolute;
    top: 366px;
    left: 438px;
    */
}

.header-icons li:hover{
    cursor: pointer;
}

.header-icons{
    height: 50px;
    width: 100%;
    top: 206px;
    position: absolute;
}

.sm-buttons{
    height: 27px;
    width: 27px;
    display: inline-block;
    float: left;
    margin: 0 5%;
    position: relative;
    right: 15px;
    -webkit-filter: drop-shadow( 0px 0px 10px #444);
    filter: drop-shadow( 0px 0px 10px #444);
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.sm-buttons:hover{
    position: relative;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);    
    -webkit-filter: drop-shadow( 0px 0px 10px #777);
    filter: drop-shadow( 0px 5px 10px #777);   
    cursor: pointer;
}
    
.spotify{
    background: url("../images/spotify-logo-button.svg") no-repeat;
}

.instagram{
    background: url("../images/instagram-logo.svg") no-repeat;
}

.iTunes{
    background: url("../images/apple.svg") no-repeat;
}

.youtube{
    background: url("../images/youtube-logo.svg") no-repeat;
}

.fb{
    background: url("../images/facebook-social-symbol.svg") no-repeat;
}

.twitter{
    background: url("../images/twitter-logo-silhouette.svg") no-repeat;
}

.list-of-dates{
    height: 600px;
    overflow-y: hidden;
    background-color: black;
    transition: height 400ms ease-in-out;
    position: relative;
    width: 100%;
}
.list-of-dates ul{
    padding-left:0;
}
.list-of-dates li{
    display: inline-block;
    color: #eaeaea;
    width: 100%;
    margin:0;
    border-bottom: 1px solid #eaeaea;
}
.list-of-dates li .location-venue{
    width:50%;
    display: inline-block;
}
.list-of-dates li span{
    padding: 10px 25px;
    display: inline-block;
    margin: 15px;
}
.list-of-dates li .date{
    padding-left: 0;
    max-width: 10%;
}
.list-of-dates li .place{
}
.list-of-dates li .city{
    float:right;
}


.list-of-dates li .button{
    float:right;
    margin-top:15px;
    margin-right: 15px;
    width:120px;
}


.black-section{
    background-color: black;
    margin-top: 0;
    height: 815px;
    transition: height 400ms ease-in-out;
}
.black-section h1{
    color: white;
    font-size: 53px;
    padding-top: 47px;
    display: inline-block;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

hr{
    border: 0;
    height: 1px;
    background-color: #777;
    position: relative;
    top: 15px;
}



.button{   
    border: 2px solid #eaeaea;
    padding: 10px 21px;
    background-color: black;
    color: #eaeaea;
    font-weight: bolder;
    transition: color 0.2s, background 0.2s;
    text-align: center;
    display: inline-block;
}

.button:active{
    outline: none;
    border: none;
}

.button:focus{
    outline:0;
}

.button.button-success:hover{
    color: black;
    background: #fff;
    cursor: pointer;
}

.button.disabled-button{
    border: 2px solid #7d0e0e;
    color: #7d0e0e;
    background-color: black;
    font-weight: bolder;
    cursor:not-allowed;
}

.button.dates-button{
    min-width: 250px;
    margin: 3% auto;
    display: block;
}

.open-wrapper{
    height: 1111px;
}

.open-list{
    height: 878px;
}

.cd-item{
    width: 550px;  
    position: relative;
}

.cd-item:hover{
    cursor: pointer;
}

.internal-modal{
    display: inline-block; 
    height: 550px;
    width: inherit;
    position: absolute;
    bottom: 0px;
    background-color: transparent;
    transition: background-color 200ms ease-in-out;
}
.open-modal{
    background-color: rgba(255,2,2,0.5);
}

/*
.center{
    margin: 0 0;
    width: 635px;
    margin-right: 0px;
}*/

.is-active{
    color: #ccc !important;
}

.cds-section{
    position: relative;
    height: 550px;    
}

.cds-section:after{
    clear: both;
    content: '';
}

.arrow-container{
    z-index: 1;    
    height: 90px;
    width: 100%;
    position: absolute;
    top: 240px;
}

.arrow{
    height: 60px;
    width: 60px;
    display: inline-block;
    position: absolute;
    top: 43%;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    z-index: 1;     
}

.arrow:hover{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.arrow.left-arrow{
    background-image: url("../images/left-arrow.svg");
    float: left;
    left: 1%;
}

.arrow.right-arrow{
    background-image: url("../images/right-arrow.svg");
    float: right;  
    right: 1%;
}

.owl-carousel .item-video {
    height: 370px;
}

.grey-section{
    background-color: #ddd;
    margin-top: 0;
    height: 810px;
    height: 650px;
}
.grey-section h1{
    color: black;
    font-size: 53px;
    padding-top: 47px;
    display: inline-block;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.footer-section{
    height: 80px;
    background-color: #ddd;
    margin-top: 0;
    position: relative;
    font-size: 12px;
}

.footer-section a{
    text-decoration: none;
    color: black;
}

.footer-menu{
    height: 40px;
    position: relative;
    margin: 0% auto;
    max-width: 442px;
}

.footer-menu ul{
    margin: 0 3%;
}

.footer-menu li{
    list-style-type: none;
    float: left;
    padding-right: 2%;
    padding-top: 17px;
    display: inline-block;
    text-align: center;
}

.footer-menu li:last-of-type{
    padding-right: 0px;

}

.footer-menu .footer-dot{
    padding-right: 9px;
}

.footer-menu a:hover{
    cursor: pointer;
}

.footer-section p{
    text-align: center; 
    margin-top: 5px;
}

.footer-section .creator-link-footer{
    color: #666;
}
/*//////////////////////MEDIA QUERIES///////////////////////*/

@media screen and (max-width: 950px) {
    
    
    .top-menu nav {
        float: none;
        margin-right: 0;
        position: relative;
        bottom: 2px;
        height: 18px;
        width: 250px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 730px) {
    .list-of-dates li .location-venue span{
        padding: 0;
        display: block;
        margin: 0;
    }
     .list-of-dates li .location-venue .city{
        float:left;
    }
    .list-of-dates li .location-venue{
        width: auto;
        display: inline-block;
        position: relative;
        top: -10px;
    }
}

@media screen and (max-width: 480px) {
    header {
        height: 528px;    
    }
    
    .top-banner{
        right: 13%;
        top: 46%;
        width: 353px;
        margin: 0% auto;
    }
    
    .white-line{
        width: auto;
        top: 107px;        
    }
    
    .rel-pict{
        height: 424px;
        width: 63%;
        left: 24%;
        background-size: auto 100%;
    }
    
    .sm-buttons{
        margin: 0 4%;
        height: 24px;
    }
    
    .banner-label{
        right: 0;
        left: 54px;
        top: 109px;
        font-size: 24px;
    }
    
    .cd-title{
        right: 24px;
    }
    
    .top-menu.top-menu-down{
        height: 15px;
    }
    
    .top-menu nav{
        float: none;
        margin-right: 0;
        padding: 0 21%;
    }
    
    .header-icons{
        top: 163px;
    }
    
    hr{
    top: 3px;
    width: 98%;
    margin-right: 0;
    margin-left: 0;
    }
    
   
    
    .black-section{
       
    }
      
    .black-section h1{
        font-size: 38px;
    }
    
    .grey-section{
        height: 520px;
    }
      
    .grey-section h1{
        font-size: 38px;
    }
    
    .button.dates-button{
        min-width: 190px;
        padding: 9px 30px;
        position: relative;
        top: 24px;
        left: 0%;
    }
    
    .open-list {
        height: 795px;   
    }
    
    .footer-menu{
        width: 387px;
    }
    
    .footer-menu ul{
        padding-left: 5%;
    }
    .list-of-dates{
    }
    .list-of-dates li{
        font-size: 12px;
        padding: 10px 0;
    }
    .list-of-dates li .button {
        margin-top: 5px;
    }
    .list-of-dates li .date {
        padding: 0;
        margin-left: 5px;
        max-width: 10%;
    }
}
