body, html {
    height: 100%;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
header{
    height: 96%;
}
.central-panel{
    max-width: 1000px;
    margin: auto;
    height: 100%;
}

.header-wrapper{
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #999); /* Standard syntax */
    height: 600px;
    font-weight: 700;
}

.top-menu{
    height: 50px;
    padding: 10px 0;
    position: fixed;
    display: block;
    width: 100%;
    background: inherit;
    transition: background 400ms, border-bottom 400ms, margin 400ms, height 400ms, background-color 400ms;
    
}
.top-menu nav{
    float:right;
    margin-right: 180px;   
    position: relative;
    bottom: 9px;
}

.top-menu li{
    list-style-type: none;
    float: left;
    padding-left: 25px;
    display: inline-block;
    font-size: 15px;
    transition: color 400ms;
}

.top-menu a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

.top-menu a:hover{
    color: #eee; 
}

.top-menu:after{
    clear: both;
    content: '';
}

.rel-pict{
    background: url("../images/rels-body.png") no-repeat;
    background-size: contain;
    height: 540px;
    width: 30%;
    display: block;
    position: absolute;
    left: 255px;
    top: 76px;

}

.cd-title{
    background: url("../images/boys.png") no-repeat;
    background-size: contain;
    height: 540px;
    width: 30%;
    display: block;
    position: absolute;
    top: 185px;
    right: 203px;
}

.white-line{
    position: absolute;
    top: 284px;
    right: 140px;
    height: 2px;
    width: 500px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left, 
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,1) 50%,
        rgba(255,255,255,1) 51%,
        rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.yadis-para{
    color: rgb(244, 244, 244);
    font-size: 33px;
    font-weight: 300;
    position: absolute;
    right: 247px;
    top: 281px;
    letter-spacing: 9px;
}

.icons li{
    list-style-type: none;
    margin: 15px;
    float: left;
    position: relative;
    top: 352px;
    left: 480px;
}

.icons li:hover{
    cursor: pointer;
}

.sm-buttons{
    height: 30px;
    -webkit-filter: drop-shadow( 0px 0px 10px #444);
    filter: drop-shadow( 0px 0px 10px #444);
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    width: 50px;
    display: inline-block
}

.sm-buttons:hover{
    position: relative;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);    
    -webkit-filter: drop-shadow( 0px 0px 10px #777);
    filter: drop-shadow( 0px 5px 10px #777);    
}
    
.spotify{
    background: url("../images/spotify-logo-button.svg") no-repeat;
}

.instagram{
    background: url("../images/instagram-logo.svg") no-repeat;
}

.iTunes{
    background: url("../images/apple.svg") no-repeat;
}

.youtube{
    background: url("../images/youtube-logo.svg") no-repeat;
}

.fb{
    background: url("../images/facebook-social-symbol.svg") no-repeat;
}

.twitter{
    background: url("../images/twitter-logo-silhouette.svg") no-repeat;
}

.tour-wrapper{
    background-color: black;
    margin-top: 0;
    height: 810px;
    transition: height 400ms ease-in-out;

}

.list-of-dates{
    height: 580px;
    overflow-y: hidden;
    background-color: black;
    transition: height 400ms ease-in-out;
}

.tour-wrapper h1{
    color: white;
    font-size: 53px;
    padding-top: 47px;
    display: inline-block;
    margin: 0 50% 0 44%;
    font-weight: 500;
}

.list-of-dates li{
    display: inline-block;
    color: #eaeaea;
    height: 10px;
    margin: 25px;
    width: 950px
}

hr{
    border: 0;
    height: 1px;
    background-color: #777;
    position: relative;
    top: 15px;
}

.date{
    margin: 0 40px 0 20px;
}

.place{
    margin: 0 105px 0 37px;
}
.city{
    margin: 55px;
}

.btn-success{
    margin: 0 20px 0 150px;    
    border: 2px solid #eaeaea;
    padding: 10px 21px;
    background-color: black;
    color: #eaeaea;
    font-weight: bolder;
    transition: color 0.2s, background 0.2s;
}

.btn-success:active {
outline: none;
border: none;
}

.btn-success:focus {outline:0;}

button.disabled-button{
    margin: 0 20px 0 150px;    
    border: 2px solid #7d0e0e;
    padding: 10px 39px;
    color: #7d0e0e;
    text-align: center;
    background-color: black;
    font-weight: bolder;
    cursor:not-allowed;
}

.dates-button{
    padding: 10px 0px;
    text-align: center;
    min-width: 250px;
    display: inline-block;
    margin: 2% 50% 0 39%;
}

.btn-success:hover{
    color: black;
    background: #fff;
    cursor: pointer;
}

.open-wrapper{
    height: 1180px;
}

.open-list{
    height: 960px;
}


.item{
    width: 550px;    
}

.center{
    margin: 0 0;
    width: 635px;
    margin-right: 0px;
}

.top-menu-down{
    color: #eee;
    background-color: black;
    border-bottom: 1px solid #333;
    margin: -17px 0 0 0;
    z-index: 2;
    height: 30px;
}

.is-active{
    color: #ccc !important;
}

.cds{
    position: relative;
    height: 550px;    
}

.arrow-container{
    z-index: 1;    
    height: 90px;
    width: 100%;
    position: absolute;
    top: 240px;
}

.left-arrow{
    background-image: url("../images/left-arrow.svg");
    float: left;
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    top: 15%;
    left: 1%;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;      
}

.left-arrow:hover{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);     
    
}

.right-arrow{
    background-image: url("../images/right-arrow.svg");
    float: right;
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    top: 15%;
    right: 1%;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;      
}

.right-arrow:hover{
    cursor: pointer;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);      
}

.videos-wrapper{
    height: 600px;
    width: 100%;
    background-color: black;
    position: relative;
}

.owl-carousel2{
    position: relative;
}

.owl-video{
    height: 200px;
}

.clearingDiv{
    clear: both;
    content: '';
}